<table border="1" width="100%">
    <tr>
            <th>Corpus</th>
            <th>Topic</th>
            <th>Query Group</th>
            <th>Query</th>
            #set($colspan = $metadata.howManyMetrics() * $metadata.howManyVersions())
            <th colspan="$colspan">Metrics</th>
    </tr>
    <tr>
        <th colspan="4">&nbsp;</th>
        #foreach($metric in $metadata.metrics)
            #set($span = $metadata.howManyVersions() + 1)
            <th colspan="$span">$metric</th>
        #end
    </tr>
    <tr>
        <th colspan="4">&nbsp;</th>
        #foreach($metric in $metadata.metrics)
            #foreach($version in $metadata.versions)
                <th>$version</th>
            #end
            <th>&Delta;</th>
        #end
    </tr>
    #foreach($corpus in $data.children)
        <tr>
            <td>$corpus.name</td>
            <td colspan="3">&nbsp;</td>
            #metrics($corpus.metrics)
        </tr>
        #foreach($topic in $corpus.children)
            <tr>
                <td>&nbsp;</td>
                <td>$topic.name</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                #metrics($topic.metrics)
            </tr>
            #foreach($queryGroup in $topic.children)
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>$queryGroup.name</td>
                    <td>&nbsp;</td>
                    #metrics($queryGroup.metrics)
                </tr>
                #foreach($query in $queryGroup.children)
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>$query.name</td>
                        #metrics($query.metrics)
                    </tr>
                #end
            #end
        #end
    #end
</table>